@charset "UTF-8";
/*обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------обнуление окончено--------*/
@font-face {
  font-family: Magra;
  src: url("../fonts/Magra/Magra-Bold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Red Hat Text";
  src: url("../fonts/Red_Hat_Text/RedHatText-VariableFont_wght.ttf");
  font-style: normal;
}
@font-face {
  font-family: Aleo;
  src: url("../fonts/Aleo/Aleo-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}
.body {
  max-width: 1440px;
  margin: auto;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.header {
  position: relative;
}

.header__rectangle {
  position: absolute;
  width: 100%;
  height: 90px;
  padding: 0 120px 0 120px;
  background: rgba(242, 120, 92, 0.7);
  -webkit-box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
          box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* or inline-flex */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-text {
  font-family: Magra;
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
  text-align: left;
  color: #FFFFFF;
}

h2 {
  font-size: 40px;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-item {
  font-family: "Red Hat Text";
  padding: 0 42px 0 0;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: #FFFFFF;
}
.nav-item a {
  color: #FFFFFF;
}

.button-login {
  width: 103px;
  padding: 10px 0px;
  border-radius: 10px;
  gap: 10px;
  background: #0D606F;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.1607843137);
          box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.1607843137);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.button-login:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.button-login-text {
  font-family: "Red Hat Text";
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.main {
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: -1;
  overflow: hidden;
}

.preview {
  padding: 120px 120px;
  background: url("../img/bg1.png"), lightgray -136px -141.277px/112.222% 160.816% no-repeat;
  background-size: cover;
  height: 765px;
}

.preview-title {
  font-family: Aleo;
  font-size: 80px;
  font-weight: 700;
  color: #FFFFFF;
}

.preview-p {
  font-family: Aleo;
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  color: #FFFFFF;
  padding: 46px 0 46px 0;
}

.search_rectangle {
  background: rgba(255, 255, 255, 0.7);
  max-width: 892px;
  max-height: 95px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px;
}

.search-text {
  color: #F2785C;
  font-family: Aleo;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  height: 22px;
}

.search-button {
  background: #0D606F;
  max-width: 228px;
  max-height: 59px;
  padding: 10px 32px;
  border-radius: 10px;
  gap: 10px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.1607843137);
          box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.1607843137);
  -webkit-box-shadow: 0px 0px 3px 0px rgba(13, 96, 111, 0.0784313725);
          box-shadow: 0px 0px 3px 0px rgba(13, 96, 111, 0.0784313725);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search-button:hover, .search-button:focus {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.search-button-text, .stories-button, .destinations-button {
  font-family: "Red Hat Text";
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-title {
  font-family: "Red Hat Text";
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0em;
  color: #F2785C;
  padding: 40px 0;
}

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-shape {
  width: 100px;
  height: 100px;
  border-radius: 16px;
  background: #F2785C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps-vector {
  width: 60px;
  height: 45px;
}

.steps-container-item-text {
  font-family: Aleo;
  font-size: 20px;
  font-weight: 400;
  color: #0D606F;
  padding: 20px 0 0 0;
}

.destinations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.destinations-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

.destination-item {
  max-width: 800px;
  max-height: 800px;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  scroll-snap-align: start;
  -o-object-fit: cover;
     object-fit: cover;
}

.destination-image {
  max-width: 800px;
  border-radius: 16px;
}

.destination-name {
  font-family: "Red Hat Text";
  font-size: 32px;
  font-weight: 500;
  line-height: normal;
  color: #FFFFFF;
  position: absolute;
  bottom: 40px;
  padding-left: 15px;
}

.arrow-nav {
  display: none;
}

.slider-wrapper {
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider {
  max-height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  overflow-x: auto;
  scroll-behavior: smooth;
  border-radius: 0.5rem;
  -ms-overflow-style: none; /* Hide scrollbar IE and Edge */
  scrollbar-width: none; /* Hide scrollbar Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
  display: none;
}

.slider img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  scroll-snap-align: start;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-nav--mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  padding: 24px 0;
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 1;
}
.slider-nav--mobile a {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(242, 120, 92, 0.5);
  -webkit-transition: opacity ease 250ms;
  transition: opacity ease 250ms;
}
.slider-nav--mobile a:hover {
  background: rgb(242, 120, 92);
}
.slider-nav--mobile a.active {
  background: rgb(242, 120, 92);
}

.active-center1 {
  -webkit-transform: translate(34%);
          transform: translate(34%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.active-center2 {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.active-center3 {
  -webkit-transform: translate(-34%);
          transform: translate(-34%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  padding: 24px 0;
  z-index: 1;
}
.slider-nav a {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(242, 120, 92, 0.5);
  -webkit-transition: opacity ease 250ms;
  transition: opacity ease 250ms;
}
.slider-nav a:hover {
  background: rgb(242, 120, 92);
}
.slider-nav a.active {
  background: rgb(242, 120, 92);
}

.destinations-button {
  margin-top: 10px;
  max-width: 228px;
  max-height: 59px;
  padding: 10px 32px;
  border-radius: 10px;
  gap: 15px;
  background: rgb(13, 96, 111);
  -webkit-box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16);
          box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16);
  -webkit-box-shadow: 0px 0px 3px 0px rgba(13, 96, 111, 0.08);
          box-shadow: 0px 0px 3px 0px rgba(13, 96, 111, 0.08);
  white-space: nowrap;
}
.destinations-button::before {
  content: url("../img/arrow.svg");
  -ms-flex-item-align: baseline;
      align-self: baseline;
}
.destinations-button:hover, .destinations-button:focus {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.stories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stories-bg {
  background: url("../img/bg2.png") no-repeat bottom center;
  background-size: cover;
  position: relative;
  z-index: 0;
  padding-bottom: 60px;
  overflow: hidden;
}
.stories-bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  z-index: -1;
  margin-top: -60px;
}

.stories-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 120px;
  gap: 2em;
}

.story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.story-img {
  width: 400px;
  height: 250px;
  border-radius: 16px;
  -webkit-box-shadow: 0px 4px 4px 0px rgb(13, 96, 111);
          box-shadow: 0px 4px 4px 0px rgb(13, 96, 111);
  margin-right: 3em;
}

.story-hp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

.story-title {
  font-family: Aleo;
  font-size: 35px;
  font-weight: 400;
  line-height: normal;
  color: rgb(13, 96, 111);
}

.story-text {
  font-family: Aleo;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  color: rgb(13, 96, 111);
}
.story-text a {
  font-family: Aleo;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-decoration: underline;
  color: rgb(13, 96, 111);
}

.story-text--mobile {
  display: none;
}

.stories-button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 228px;
  height: 59px;
  padding: 10px 32px;
  border-radius: 10px;
  gap: 15px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16);
          box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16);
  -webkit-box-shadow: 0px 0px 3px 0px rgba(13, 96, 111, 0.08);
          box-shadow: 0px 0px 3px 0px rgba(13, 96, 111, 0.08);
  background: rgb(13, 96, 111);
}
.stories-button::before {
  content: url("../img/arrow.svg");
  -ms-flex-item-align: baseline;
      align-self: baseline;
}
.stories-button:hover, .stories-button:focus {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 1em 7em 1em 7em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[3];
  grid-template-columns: repeat(3, minmax(0, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.footer-text {
  font-family: "Red Hat Text";
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: #FFFFFF;
  white-space: nowrap;
}

.social-media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -ms-grid-column-align: end;
      justify-self: end;
}

.social-media-icon {
  width: 30px;
  height: 30px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: min(50%, 650px);
  border-radius: 16px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), color-stop(200%, #0D606F));
  background: linear-gradient(180deg, #FFF 0%, #0D606F 200%);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 25px 45px;
  gap: 20px;
}

#modal-signup {
  display: none;
  width: min(50%, 650px);
}
#modal-signup .full-line-container {
  padding-top: 30px;
}

.modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  width: 100%;
}

.modal-h {
  color: #0D606F;
  font-family: Aleo;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.facebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  border-radius: 10px;
  background: #1877F2;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16), 0px 0px 3px 0px rgba(13, 96, 111, 0.08);
          box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16), 0px 0px 3px 0px rgba(13, 96, 111, 0.08);
}
.facebook p {
  color: #FFF;
  font-family: "Red Hat Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.google {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  border-radius: 10px;
  background: #FFF;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16), 0px 0px 3px 0px rgba(13, 96, 111, 0.08);
          box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16), 0px 0px 3px 0px rgba(13, 96, 111, 0.08);
}
.google p {
  color: #0D606F;
  font-family: "Red Hat Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.or-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -20px;
  padding: 20px 0;
}

.line {
  width: 261px;
  height: 1px;
  background: rgba(13, 96, 111, 0.5);
}

.or {
  color: rgba(13, 96, 111, 0.5);
  font-family: Aleo;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0 9px;
}

label {
  color: #0D606F;
  font-family: Aleo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
label p {
  padding-bottom: 5px;
  text-align: left;
}

input[type=text], input[type=password] {
  width: 100%;
  height: 54px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16) inset, 0px 0px 3px 0px rgba(13, 96, 111, 0.08) inset;
          box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16) inset, 0px 0px 3px 0px rgba(13, 96, 111, 0.08) inset;
  padding: 10px;
}
input[type=text]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder {
  color: #0D606F;
  font-family: Aleo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
input[type=text]::-moz-placeholder, input[type=password]::-moz-placeholder {
  color: #0D606F;
  font-family: Aleo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
input[type=text]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder {
  color: #0D606F;
  font-family: Aleo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
input[type=text]::-ms-input-placeholder, input[type=password]::-ms-input-placeholder {
  color: #0D606F;
  font-family: Aleo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
input[type=text]::placeholder, input[type=password]::placeholder {
  color: #0D606F;
  font-family: Aleo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 54px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  background: #0D606F;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16), 0px 0px 3px 0px rgba(13, 96, 111, 0.08);
          box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16), 0px 0px 3px 0px rgba(13, 96, 111, 0.08);
  margin-top: 5px;
  margin-bottom: -10px;
}
.signin p {
  color: #FFF;
  font-family: "Red Hat Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.signin:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.forgot-pw {
  color: #0D606F;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  font-family: Aleo;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.full-line-container {
  padding: 20px 0;
}

.full-line {
  width: 100%;
  height: 1px;
  background: rgba(13, 96, 111, 0.5);
}

.modal-bottom {
  color: rgba(13, 96, 111, 0.5);
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  font-family: Aleo;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.modal-bottom a {
  color: #0D606F;
  font-family: Aleo;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}
.modal-bottom a:hover {
  cursor: pointer;
}

.header--mobile {
  display: none;
}

@media (width <= 390px) {
  .nav-container {
    display: none;
  }
  .header__rectangle {
    display: none;
  }
  .logo-container {
    z-index: 1;
  }
  .header--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    padding: 1em 1em 1em 1em;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .burger-btn {
    z-index: 1;
  }
  #burger-menu {
    position: absolute;
    -webkit-box-shadow: 0px 4px 3px 0px rgba(13, 96, 111, 0.2509803922);
            box-shadow: 0px 4px 3px 0px rgba(13, 96, 111, 0.2509803922);
    background: #F2785C;
    border-radius: 10px;
    width: 165px;
    height: 250px;
    top: 0;
    right: -165px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    z-index: 2;
  }
  #burger-menu.active {
    right: 0;
  }
  .overlay.on {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black color */
    z-index: 1; /* Place it below the burger menu */
  }
  .cancel {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 6px;
    left: 6px;
  }
  .cancel:hover {
    cursor: pointer;
  }
  .burger-container {
    padding: 44px 15px 30px 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .burger-item {
    font-family: "Red Hat Text";
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
  }
  .burger-item a {
    color: #FFFFFF;
  }
  .preview {
    padding: 142px 15px 0 15px;
    width: 390px;
    height: 251px;
    background: url("../img/mobile-bg1.png") no-repeat top center;
    position: relative;
    z-index: 0;
  }
  .preview::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#0D606F), color-stop(25.1%, rgba(13, 96, 111, 0)));
    background: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 25.1%);
    z-index: -1;
  }
  .preview-title {
    display: none;
  }
  .preview-p {
    display: none;
  }
  .search_rectangle {
    height: 48px;
    padding: 0 9px 0 16px;
  }
  .search-text {
    font-family: Aleo;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    height: 11.116px;
  }
  .search-button {
    width: 92px;
    height: 30px;
    padding: 0 9px;
  }
  .search-button-text, .destinations-button, .stories-button {
    font-family: "Red Hat Text";
    font-size: 11px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0em;
    text-align: center;
  }
  .section-title {
    color: #F2785C;
    font-family: "Red Hat Text";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 20px 0 20px 0;
  }
  .steps-container {
    padding: 0 15px;
  }
  .icon {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  #icon1 {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #icon1 .steps-container-item-text {
    width: 94px;
  }
  #icon3 {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  #icon3 .steps-container-item-text {
    text-align: end;
  }
  .icon-shape {
    width: 70px;
    height: 70px;
  }
  .steps-vector {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .steps-container-item-text {
    color: #0D606F;
    font-family: Aleo;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .destinations {
    padding: 0 15px;
  }
  .destinations-block {
    position: relative;
  }
  .destination-item {
    max-width: 360px;
    max-height: 210px;
  }
  .destination-image {
    width: 360px;
    height: 210px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .destination-name {
    color: #FFF;
    font-family: "Red Hat Text";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    top: 8px;
  }
  .carousel-menu {
    position: absolute;
    gap: 6px;
    bottom: 40px;
    z-index: 1;
  }
  .carousel-item, .slider-nav a {
    width: 8px;
    height: 8px;
  }
  .slider-wrapper {
    position: relative;
    max-height: 210px;
  }
  .slider {
    max-height: 210px;
    border-radius: unset;
    gap: unset;
    width: 360px;
  }
  .slider-nav {
    display: none;
  }
  .slider-nav--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 6px;
       -moz-column-gap: 6px;
            column-gap: 6px;
    position: absolute;
    bottom: 12px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: unset;
  }
  .slider-nav--mobile a {
    width: 8px;
    height: 8px;
  }
  .arrow-nav {
    display: unset;
    position: absolute;
    bottom: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .prev, .next {
    opacity: 0.5;
  }
  .prev:hover, .prev:focus, .next:hover, .next:focus {
    opacity: 1;
  }
  .prev {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
  }
  .destinations-button {
    width: 92px;
    height: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: unset;
  }
  .destinations-button::before {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-transform: scale(0.25);
            transform: scale(0.25);
    width: 0px;
  }
  .destination-button-text {
    color: #FFF;
    text-align: right;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .stories-bg {
    background: url("../img/mobile-bg2.png") no-repeat bottom center;
    padding-bottom: unset;
    padding-bottom: 60px;
  }
  .stories-bg::before {
    margin-top: -60px;
  }
  .stories-items {
    padding: 15px 15px;
    gap: 15px;
  }
  .story-img {
    width: 155px;
    height: 130px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-right: 10px;
  }
  .story-hp {
    gap: 10px;
  }
  .story-title {
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
  }
  .story-text {
    display: none;
  }
  .story-text--mobile {
    display: unset;
    color: #0D606F;
    font-family: Aleo;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .story-text--mobile a {
    color: #0D606F;
    font-family: Aleo;
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
  }
  .stories-button {
    width: 92px;
    height: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: unset;
  }
  .stories-button::before {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-transform: scale(0.25);
            transform: scale(0.25);
    width: 0px;
  }
  .stories-button .stories-button-text {
    color: #FFF;
    text-align: right;
    font-family: "Red Hat Text";
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .footer {
    padding: 15px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-text {
    display: none;
  }
  .social-media-container {
    margin-left: unset;
  }
}