@import "null.scss";


@font-face {
	font-family: Magra;
	src: url("../fonts/Magra/Magra-Bold.ttf");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Red Hat Text";
	src: url("../fonts/Red_Hat_Text/RedHatText-VariableFont_wght.ttf");
	// font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Aleo;
	src: url("../fonts/Aleo/Aleo-VariableFont_wght.ttf");
	font-weight: normal;
	font-style: normal;
  }
  
  html{
	// overflow: hidden;
  }

.body {
	max-width: 1440px;
	margin:  auto;
	position: relative;
	height: fit-content;
	// overflow: hidden;
	// min-width: 1440px;
	// width: 1440px;
	
}
.container {
	// max-width: 1440px;
	// width: 1440px;;
	// margin: auto;
}
// .wrapper{
// 	display: flex;
// 	// min-height:fit-content;
// 	overflow: hidden;
// 	flex-direction: column;
// 	position: relative; //is .wrapper even needed?
// }

.header{
	position: relative;
	// z-index: 2;
}

.header__rectangle{
	position: absolute;
	// width: 1440px;
	width:100%;
	height: 90px;
	padding: 0 120px 0 120px;
	background: rgba(242, 120, 92, 0.7);
	box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
	display: flex; /* or inline-flex */
	justify-content: space-between;
	align-items: center;
	// z-index: 2;
	}

.logo-text {
	font-family: Magra;
	font-size: 32px;
	font-weight: 600; 
	line-height: normal;
	text-align: left;
	color: #FFFFFF;
}

h2 {font-size: 40px;}

.nav-container{display: flex; }

.nav-item {
	font-family: 'Red Hat Text';
	padding: 0 42px 0 0;
	font-size: 16px;
	font-weight: 500;
	line-height: normal;
	color: #FFFFFF;
	& a{color: #FFFFFF;}	
}

.button-login {
	width: 103px;
	padding: 10px 0px;
	border-radius: 10px;
	gap: 10px;
	background: #0D606F;
	box-shadow: 0px 2px 3px 0px #0D606F29;
	box-shadow: 0px 4px 4px 0px #00000040;
	&:hover{
		cursor: pointer;
		transform: scale(1.1);
	}
}

.button-login-text {
	font-family: 'Red Hat Text';
	font-size: 16px;
	font-weight: 500;
	line-height: normal;
	text-align: center;
}





.main {
	font-family: Arial, Helvetica, sans-serif;
	// background: url('../img/bg2.png') no-repeat bottom center  ;
	// background-size: contain;
	display: flex;
	flex-direction: column;
	z-index: -1;
	overflow: hidden; //trims destinations images on sides
}

.preview {
	padding: 120px 120px ;
	// background: url("../img/bg1.png")  no-repeat top center;
	background: url("../img/bg1.png"), lightgray -136px -141.277px / 112.222% 160.816% no-repeat;
	background-size: cover;
	height: 765px;
	// background-repeat: no-repeat;
	
	// width: 1440px;
	// background-size: auto ;
	
}

.preview-title {
	font-family: Aleo;
	font-size: 80px;
	font-weight: 700;
 	color: #FFFFFF;
}

.preview-p {
	font-family: Aleo;
	font-size: 20px;
	font-style: italic;
	font-weight: 700;
	color: #FFFFFF;
	padding: 46px 0 46px 0 ;

}
.search_rectangle {
	background: rgba(255,255,255, 0.7);
	max-width: 892px;	
	max-height: 95px;
	border-radius: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 18px;
}

.search-text {
	color: #F2785C;
	font-family: Aleo;
	font-size: 24px;
	font-style: italic;
	font-weight: 400;
	height: 22px;
}

.search-button {
	background: #0D606F;
	max-width: 228px;
	max-height: 59px;
	padding: 10px 32px;
	border-radius: 10px;
	gap: 10px;
	box-shadow: 0px 2px 3px 0px #0D606F29;
	box-shadow: 0px 0px 3px 0px #0D606F14;
	display: flex;
	justify-content: center;
	align-items: center;
	&:hover, &:focus{
		cursor: pointer;
		transform: scale(1.1);
	}	
}

.search-button-text {
	font-family: "Red Hat Text";
	font-size: 24px;
	font-weight: 500;
	line-height: normal;
	text-align: center;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	
}



.section-title{
	font-family: "Red Hat Text";
	font-size: 40px;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0em;
	color: #F2785C;
	padding: 40px 0 ;
}

.steps {
	display: flex;
	justify-content: center;
	justify-items: center;
	flex-direction: column;
	align-content: center;
	align-items: center;

}

.steps-container{
	display: flex;
	justify-content: space-around;
	width: 100%;
	align-items: baseline;
	
}
//not used
// .steps-container-item{
// 	display: flex;
// 	justify-content: space-between;
// 	justify-items: space-between;
// }
.icon{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.icon-shape{
	width: 100px;
	height: 100px;
	border-radius: 16px;
	background: #F2785C;
	display: flex;
	justify-content: center;
	justify-items: center;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

.steps-vector{
	width: 60px;
	height: 45px;
}

.steps-container-item-text{
	font-family: Aleo;
	font-size: 20px;
	font-weight: 400;
	color: #0D606F;
	padding: 20px 0 0 0 ;
}




.destinations {
	// position: relative;
	display: flex;
	// justify-content: center;
	flex-direction: column;
	align-items: center; //makes 2nd image be in center of screen
}

.destinations-block{
	display: flex;
	// justify-content: center;
	gap: 60px;
}

.destination-item{
	// display: flex;
	// justify-content: center;
	max-width: 800px;
	max-height: 800px;
	position: relative;
	// padding-bottom: 10px;
	// max-width: 800px;
	// max-height: 100%;

	// alt
	flex: 1 1 100%;
	scroll-snap-align: start;
	object-fit: cover;
	
}

.destination-image{
	max-width: 800px;
	// height: auto;
	// max-width: min(800px, 70%);
	// max-width: min(800px, 120%);
	// max-height: min(800px, 70%);
	border-radius: 16px;
	// object-fit:cover;
	
}
.destination-name{
	font-family: "Red Hat Text";
	font-size: 32px;
	font-weight: 500;
	line-height: normal;
	color: #FFFFFF;
	
	position: absolute;
	bottom: 40px;
	padding-left: 15px;
}


.arrow-nav{
	display: none;
}
// .prev, .next{
// 	display: none;
// }







//
//alt destinations
//

.destinations_block-new{
	// display: none;
	// display: flex;
	// // justify-content: center;
	// gap: 60px;


}
.slider-wrapper {
	position: relative;
	// max-width: fit-content;//800px;
	// max-height: 800px;
	margin: 0 auto; //what for???
	display: flex;
	flex-direction: column;
}

.slider {
	max-height: 800px;

	display: flex;
	gap: 60px;
	// aspect-ratio: 1 / 1;
	overflow-x: auto;
	// scroll-snap-type: x mandatory; 
	scroll-behavior: smooth;
	// box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
	-ms-overflow-style: none; /* Hide scrollbar IE and Edge */
	scrollbar-width: none; /* Hide scrollbar Firefox */

	
}
/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 1 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav--mobile {
	display: flex;
	// display: none;
	column-gap: 10px;
	padding: 24px 0 ;
	position: relative;
	align-self: center;

	z-index: 1;
	& a {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: rgba(242, 120, 92, 0.5);
		transition: opacity ease 250ms;
		&:hover{
			background: rgba(242, 120, 92, 1);
		}
		&.active{
			background: rgba(242, 120, 92, 1);
		}
	}
}
.active-center1 {
	// transform: translateX(calc(50% - 50vw));
	transform: translate(34%);
			transition: .4s;
  }
.active-center2 {
	// transform: translateX(calc(50% - 50vw));
		// transform: translate(50%);
		transition: .4s;
  }
.active-center3 {
	// transform: translateX(calc(50% - 50vw));
		transform: translate(-34%);
		transition: .4s;
  }

.slider-nav{
	display: flex;
	display: none;
	column-gap: 10px;
	padding: 24px 0 ;
	z-index: 1; 
	& a {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: rgba(242, 120, 92, 0.5);
		transition: opacity ease 250ms;

		&:hover{
			background: rgba(242, 120, 92, 1);
		}
		&.active{
			background: rgba(242, 120, 92, 1);
		}
	}
}

.destinations-button{
	margin-top:10px;
	max-width: 228px;
	max-height: 59px;
	padding: 10px 32px;
	border-radius: 10px;
	gap: 15px;
	background: rgba(13, 96, 111, 1);
	box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16);
	box-shadow: 0px 0px 3px 0px rgba(13, 96, 111, 0.08);
	@extend .search-button-text;
	&::before{
		content:url("../img/arrow.svg");
		align-self: baseline;
	}
	&:hover, &:focus{
		cursor: pointer;
		transform: scale(1.1);
	}	
	white-space: nowrap;
}



.stories {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;	
	// z-index: -1;
}
.stories-bg {
	background: url("../img/bg2.png")  no-repeat bottom center;
	background-size: cover;
	position: relative;
	z-index: 0;
	padding-bottom: 60px;
	overflow: hidden; //prevents bg2 whiteness from layering over section title
	&::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100% ;
		background: rgba(255, 255, 255, 0.7);
        z-index: -1;
		// overflow: hidden; //used to do what overflow:hidden above does now
		margin-top: -60px;

	}	
}

.stories-items{
	display: flex;
	flex-direction: column;
	padding: 40px 120px;
	gap: 2em;	
}
.story{
	display: flex;
	// gap: 15px;
}

.story-img{
	width: 400px;
	height: 250px;
	border-radius: 16px;
	box-shadow: 0px 4px 4px 0px rgba(13, 96, 111, 1);
	margin-right: 3em;
}

.story-hp{
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.story-title{
	font-family: Aleo;
	font-size: 35px;
	font-weight: 400;
	line-height: normal;
	color: rgba(13, 96, 111, 1);

}
.story-text{
	font-family: Aleo;
	font-size: 20px;
	font-weight: 400;
	line-height: normal;
	color: rgba(13, 96, 111, 1);
	& a {
		font-family: Aleo;
		font-size: 20px;
		font-weight: 700;
		line-height: normal;
		text-decoration: underline ;
		color: rgba(13, 96, 111, 1);
	}
}
.story-text--mobile{
	display: none;
}


.stories-button{
	align-self: center;
	width: 228px;
	height: 59px;	
	padding: 10px 32px;
	border-radius: 10px;
	gap: 15px;
	box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16);
	box-shadow: 0px 0px 3px 0px rgba(13, 96, 111, 0.08);
	background: rgba(13, 96, 111, 1);
	@extend .search-button-text;
	&::before{
		content:url("../img/arrow.svg");
		align-self:baseline;
	}
	&:hover, &:focus{
		cursor: pointer;
		transform: scale(1.1);
	}	
}

.footer{
	position: absolute ;
	width:100%;
	bottom: 0;
	padding: 1em 7em 1em 7em;
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	align-items: center;
	justify-items: center; //keeps copyright hr centered
}

.footer-text{
	font-family: "Red Hat Text";
	font-size: 16px;
	font-weight: 500;
	line-height: normal;
	color: #FFFFFF;
	white-space: nowrap;
}
.social-media-container{
	// margin-left:auto;
	display: flex;
	align-items: center;
	gap: 20px;
	justify-self: end;
	
}
.social-media-icon{
	width: 30px;
	height: 30px;
}

//
//MODAL
//
.modal{
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	// padding-top: 50%;
	// padding-left: 50%;
}

.modal-content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: min(50%, 650px);
	// max-height: 660px;
	border-radius: 16px;
	background: linear-gradient(180deg, #FFF 0%, #0D606F 200%);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	justify-content: center; // is necessary?
	align-items: center; // is necessary?
	text-align: center; //centers header and modal-bottom
	padding: 25px 45px;
	gap: 20px;
}

#modal-signup{
	display: none;
	width: min(50%, 650px);
	& .full-line-container{
		padding-top: 30px; //for some reason 20px doesnt make a visual difference
	}

}

.modal-container{
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}

.modal-h{
	color: #0D606F;
	font-family: Aleo;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding-bottom: 20px;
	align-self: center;
}

.facebook{
	display: flex;
	// width: 100%;
	padding: 15px;
	justify-content: center;
	align-items: center;
	gap: 15px;

	border-radius: 10px;
	background: #1877F2;
	box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16), 0px 0px 3px 0px rgba(13, 96, 111, 0.08);

	& p{
		color: #FFF;
		font-family: "Red Hat Text";
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
}

.google{
	display: flex;
	// width: 100%;
	padding: 15px;
	justify-content: center;
	align-items: center;
	gap: 15px;

	border-radius: 10px;
	background: #FFF;
	box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16), 0px 0px 3px 0px rgba(13, 96, 111, 0.08);

	& p{
		color: #0D606F;
		font-family: "Red Hat Text";
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
}

.or-container{
	display: flex;
	align-items: center;
	margin-bottom: -20px;
	padding: 20px 0;
}

.line{
	width: 261px;
	height: 1px;
	background: rgba(13, 96, 111, 0.50);	
}
.or 
{
	color: rgba(13, 96, 111, 0.50);
	font-family: Aleo;
	font-size: 20px;
	font-style: normal; 
	font-weight: 700;
	line-height: normal;

	padding: 0 9px;

}

.label_input{
	// margin-top: 100px;
}

label{
	color: #0D606F;
	font-family: Aleo;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	& p {
		padding-bottom: 5px;
		// align-self: flex-start;
		text-align: left; //keeps Email and Passwrod labels to left
	}
}
input[type=text], input[type=password] {
	width: 100%;
	height: 54px;
	flex-shrink: 0;

	border-radius: 10px;
	background: #FFF;
	box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16) inset, 0px 0px 3px 0px rgba(13, 96, 111, 0.08) inset;

	padding: 10px;

	&::placeholder{
		color: #0D606F;
		font-family: Aleo;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		// opacity: 1;
	}
}

.signin{
	
	display: flex;
	width: 100%;
	height: 54px;
	// padding: 10px 0px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
	border-radius: 10px;
	background: #0D606F;
	box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16), 0px 0px 3px 0px rgba(13, 96, 111, 0.08);
	margin-top: 5px;
	margin-bottom: -10px;
	& p{
		color: #FFF;
		font-family: "Red Hat Text";
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
	&:hover{
		cursor: pointer;
		transform: scale(1.1);
	}
}

.forgot-pw{
	color: #0D606F;
	text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
	font-family: Aleo;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-decoration-line: underline;

	align-self: center;
}

.full-line-container{
	padding: 20px 0; 
}

.full-line{
	// content:"";
	width: 100%;
	height: 1px;
	background: rgba(13, 96, 111, 0.50);
}
	


.modal-bottom{
	color: rgba(13, 96, 111, 0.50);
	text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
	font-family: Aleo;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	align-self: center; //hr centered
	// justify-self: center;
	& a{
		color: #0D606F;
		font-family: Aleo;
		font-size: 15px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-decoration-line: underline;
		&:hover{
			cursor: pointer;
		}
	}
}








//
//
// MOBILE 
//
//

.body{
}

.header--mobile{
	display: none;
	// & .nav-container{
	// 	display: none;
	// }
}


@media (width<=390px) {
	.nav-container{display: none;}
	.header__rectangle {display: none;}

	.logo-container{
		z-index: 1;
	}
	.header--mobile{
		display: flex;
		position: absolute;
		padding: 1em 1em 1em 1em;
 		width: 100%;
		justify-content: space-between;
		// z-index: 1; //needed to make header appear over preview bg

	}

	.burger-btn{
		z-index: 1;

	}
	#burger-menu{
		position: absolute;
		box-shadow: 0px 4px 3px 0px #0D606F40;
		background: #F2785C;
		border-radius: 10px;
		width: 165px;
		height: 250px;
		top: 0;
		right: -165px;
		transition: .4s;
		z-index: 2;

		&.active{
			right:0;
		}
	}

	.overlay {
		&.on{
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5); /* Semi-transparent black color */
		// display: none; /* Initially hidden */
		z-index: 1; /* Place it below the burger menu */
		
		}
	}
	.cancel{
		position: absolute;
		width: 30px;
		height: 30px;
		top: 6px;
		left: 6px;
		&:hover{
			cursor: pointer;
		}

	}
	
	.burger-container{
		padding: 44px 15px 30px 44px;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: space-between;
		align-items: flex-end;
	}
	.burger-item{
		font-family: "Red Hat Text";
		font-size: 16px;
		font-weight: 500;
		line-height: normal;
		letter-spacing: 0em;
		text-align: left;
		color: #FFFFFF;
		& a {
			color: #FFFFFF;
		}
	

	}

	// PREVIEW
	.preview{
		padding: 142px 15px 0 15px;
		width: 390px;
		height: 251px;
		background: url("../img/mobile-bg1.png")  no-repeat top center;
		position: relative;
		z-index: 0;
		&::before{
			content: "";
			position: absolute;
			width: 100%;
        	height: 100%;
			top:0;
			left:0;
			background: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 25.1%);
			z-index: -1; //allows to inspect elements inside preview
		}
		
	}
	.preview-title{display: none;}
	.preview-p{display: none;}

	.search_rectangle{
		// width: 360px;
		height: 48px;
		padding: 0 9px 0 16px;

	}
	.search-text{
		font-family: Aleo;
		font-size: 14px;
		font-style: italic;
		font-weight: 400;
		line-height: normal;
		height: 11.116px;
	}
	.search-button{
		width: 92px;
		height: 30px;
		padding: 0 9px;
	}
	.search-button-text{
		font-family: "Red Hat Text";
		font-size: 11px;
		font-weight: 500;
		line-height: normal;
		letter-spacing: 0em;
		text-align: center;
		
	}

	
	.section-title{
		color: #F2785C;
		font-family: "Red Hat Text";
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		padding: 20px 0 20px 0 ;
	}
	//STEPS TO PERFECT TRIP
	// .steps{}
	.steps-container{
		padding: 0 15px;
		// gap: 28px;
	}
	// .steps-container-item{}
	.icon{
		flex-basis: 100%;
		// align-items:flex-start;
		
	}

	#icon1{
		align-items: flex-start;
		& .steps-container-item-text{
			width: 94px;
		}
	}
	#icon3{
		align-items: flex-end;
		& .steps-container-item-text{
			text-align: end;
		}
	}

	.icon-shape{
		width: 70px;
		height: 70px;
	}

	.steps-vector{
		transform: scale(0.7);
	}

	.steps-container-item-text{
		color: #0D606F;
		font-family: Aleo;
		font-size: 10px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;

	}

//
//DESTINATIONS
//
	.destinations{
		// align-items: flex-start; ////makes 1st image be in center of screen
		padding: 0 15px;
		
	}
	.destinations-block{
		position: relative;
		// justify-content: start;
		// // flex-wrap: wrap;
		// &:first-child{
		// 	position: relative;
		// 	left: 50%;
		// 	transform: translateX(-50%);
		// }
	}
	.destination-item{
		max-width: 360px;
		max-height: 210px;
	}

	.destination-image{
		width: 360px;
		height: 210px;
		object-fit:cover;

	}

	.destination-name{
		color: #FFF;
		font-family: "Red Hat Text";
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		top: 8px;
	}

	


	.carousel-menu{
		position: absolute;
		gap: 6px;
		bottom :40px;
		z-index: 1;
	}
	.carousel-item, .slider-nav a{
		width: 8px;
		height: 8px;
	}

	.destinations_block-new{
		// position: relative;
	}
	.slider-wrapper{
		position: relative;
		max-height: 210px;
	}

	.slider{
		// aspect-ratio: 16 / 9;
		max-height: 210px;
		border-radius: unset;
		gap: unset;
		width: 360px;
	}

	.slider-nav{
		display: none;
	}
	.slider-nav--mobile{
		display: flex;
		column-gap: 6px;
			position: absolute;
			bottom: 12px;
			left: 50%;
			transform: translateX(-50%);
			padding: unset;
		& a {
			width: 8px;
			height: 8px;
		}
	}

	// .active, .dot:hover {
  	// 	background-color: #717171;
	// }

	.arrow-nav{
		display: unset;
		position: absolute;
		bottom: 45%; //wtf is it relative to??
				// transform: translate(-50%, -50%);
		display: flex;
		justify-content: space-between;
		width: 100%;		
	}
	.prev, .next{
		// transform: translate(-50%, -50%);
		opacity: 0.5;
		// padding-left:330px;
		// z-index: 1;
		&:hover, &:focus{
			opacity: 1;
		}
	}

	.prev{		
  		transform: scaleX(-1);
	}
	// .next{
	// 	padding-left:330px;
	// 	// margin-left: 0;

	// }


	.destinations-button{
		width: 92px;
		height: 30px;
		justify-content: center;
		padding: unset;
		&::before{
			align-self: center;
			transform: scale(0.25);
			width: 0px;
		}
		
	}
	.destination-button-text{
		color: #FFF;
		text-align: right;
		font-size: 11px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}






	// 
	// STORIES
	// 
	.stories {

	}
	.stories-bg {
		background: url("../img/mobile-bg2.png")  no-repeat bottom center;
		padding-bottom: unset;
		padding-bottom: 60px;
		
		&::before{
			margin-top: -60px;
		}
	}
	.stories-items{
		padding: 15px 15px;
		gap: 15px;
	}
	.story{
		// padding: 7.5px 0;
	}
	.story-img{
		width: 155px;
		height: 130px;
		object-fit: cover;
		margin-right: 10px;
	}
	.story-hp{
		gap: 10px;
	}
	.story-title{
		font-size: 11px;
		font-style: normal;
		font-weight: 700;
	}
	.story-text{
		display: none;
	}
	.story-text--mobile{
		display: unset;

		color: #0D606F;
		font-family: Aleo;
		font-size: 9px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;		
		& a {
			color: #0D606F;
			font-family: Aleo;
			font-size: 9px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			text-decoration-line: underline;
		}
	}
	.stories-button{
		width: 92px;
		height: 30px;
		justify-content: center;
		padding: unset;
		&::before{
			align-self: center;
			transform: scale(0.25);
			width: 0px;
		}
		.stories-button-text{
			color: #FFF;
			text-align: right;
			font-family: "Red Hat Text";
			font-size: 11px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}
	}

	

// 
// FOOTER
// 
	.footer{
		padding: 15px 0;
		justify-content: center;
		// position:
	}
	.footer-text{
		display: none;
	}
	.social-media-container{
		margin-left: unset;
		
	}


}

